<form class="ui large form segment">
  <h3 class="ui header">Add a link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input type="text" name='title' #newTitle>
  </div>

  <div class="field">
      <label for="title">Link:</label>
      <input type="text" name='Link' #newLink>
    </div>

    <!-- #newTitle syntax is called a 'resolve',
      represents this input DOM element(HTMLInputElement) -->
  <button (click)="addArticle(newTitle, newLink)"
    class="ui positive right floated button">
    Submit Link
  </button>
</form>

<div [ngSwitch]="currentArticle.votes">
  <div *ngSwitchCase="1" [style.background-color]="'yellow'">一票</div>
  <div *ngSwitchCase="2" [ngStyle]="{color:'white', 'background-color':'blue'}">二票</div>
  <div *ngSwitchDefault>其它数目</div>
</div>

<!-- *ngFor="let singleArticle of articles"  -->
<div class="ui grid posts">
    <app-article 
      *ngFor="let singleArticle of sortedArticles(); let i = index" 
      [article]="singleArticle"
      [index] = "i"
      (putRingOnIt)="ringWasPlaced($event)"
      (click)='clicked(singleArticle)'
      [class.selected]='isSelected(singleArticle)'>
    </app-article>
</div>