<div class="ui info message">
  The product name is : {{ productName }}<br>
  (来自另一个组件里的修改，证明是singleton)
  userName: {{ userService.getUser()? userService.getUser().name: '' }}
</div>
<form [formGroup]="myForm"
      (ngSubmit)="onSubmit(myForm.value)"
      class="ui form" >
  
      <div class="field">
        <label >product name</label>
        <input type="text" 
          [formControl] = "myForm.get('productName')"
          [(ngModel)] = "productName">
      </div>
      <button type="submit" class="ui button">Submit</button>
</form>
